.toggleSwitchWrapper {
  display: grid;
  grid-template-areas: 'check text';
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-items: flex-start;
  text-align: start;
  cursor: pointer;
  white-space: pre-line;
}

.hiddenCheckbox {
  display: none;
}

/* add fake checkbox */
.toggleSwitchWrapper:before {
  content: '';
  display: inline-block;
  margin-inline-start: 13px;
  margin-inline-end: 0.5rem;
  width: 20px;
  height: 20px;
  transition: 350ms;
  border: 3px solid var(--accent);
  border-radius: var(--space-3xs);
  grid-area: check;
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.toggleSwitchWrapper span {
  align-self: center;
  justify-self: flex-start;
  transition: 350ms;
  color: var(--text-default);
}

.hiddenCheckbox:checked + .toggleSwitchWrapper .toggleSwitch {
  display: block;
  margin-left: calc(0.95 * var(--space-lg));
  margin-top: calc(-1.22 * var(--space-lg));
  width: 7px;
  height: 14px;
  border: solid var(--background);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.toggleSwitchWrapper:hover span {
  transition: 350ms;
  color: var(--background);
}

.hiddenCheckbox:checked + .toggleSwitchWrapper:before {
  content: '';
  background: var(--accent);
}

.hiddenCheckbox:checked + .toggleSwitchWrapper span {
  font-weight: var(--bold);
  color: var(--accent);
}

.hiddenCheckbox[disabled] + .toggleSwitchWrapper {
  color: var(--icon-disabled);
  cursor: not-allowed;
}

.hiddenCheckbox[disabled] + .toggleSwitchWrapper:before {
  border-color: var(--icon-disabled);
}

/* fade in and out animation */
.toggleSwitchWrapper.fading {
  animation: fading infinite 1.5s;
}

@keyframes fading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
