.toggleSwitchWrapper {
  display: grid;
  position: relative;
  grid-template-areas: 'check text';
  grid-template-columns: min-content 1fr;
  align-items: center;
  justify-items: flex-start;
  text-align: start;
  cursor: pointer;
  white-space: pre-line;
}

.toggleSwitchWrapper:before {
  content: '';
  display: inline-block;
  margin-inline-start: 13px;
  margin-inline-end: 0.5rem;
  width: 20px;
  height: 20px;
  transition: 350ms;
  grid-area: check;
}

.toggleSwitchWrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggleSwitchWrapper span {
  align-self: center;
  justify-self: flex-start;
  transition: 350ms;
  color: var(--text-default);
}

.visibleCheckbox {
  position: absolute;
  top: var(--space-sm);
  left: 0;
  height: 27px;
  width: 27px;
  background-color: var(--accent);
  border-radius: var(--space-2xs);
  border: 3px solid var(--accent);
}

.visibleCheckbox:after {
  content: '';
  position: absolute;
  display: none;
}

.visibleCheckbox {
  background-color: var(--modal-background);
}

.toggleSwitchWrapper .hiddenCheckbox:checked ~ .visibleCheckbox:after {
  display: block;
}

.toggleSwitchWrapper .hiddenCheckbox:not([checked]) ~ .visibleCheckbox {
  background-color: var(--modal-background);
}

.toggleSwitchWrapper
  .hiddenCheckbox:checked:not([disabled])
  ~ .visibleCheckbox {
  background-color: var(--accent);
}

.visibleCheckbox:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--modal-background);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox {
  display: none;
}

.hiddenCheckbox[disabled] + .visibleCheckbox {
  cursor: not-allowed;
  background-color: var(--icon-disabled);
  border-color: var(--icon-disabled);
}

.toggleSwitchWrapper.fading {
  animation: fading infinite 1.5s;
}

@keyframes fading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
